<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Joke
    link(rel="stylesheet", href="style.scss")
  body
    .container
      button#button Tell Me a Joke
      audio(id="audio" controls)

    script(src="./voicerss-tts.min.js")
    script(src="./main.js")
